<div class="marquee">
  <div class="track">
    <div class="content">
        <span>Natural Ingredients</span>
        <span><img src="{{ 'green-star.svg' | asset_url }}"/></span>
        <span>Vegan</span><span><img src="{{ 'green-star.svg' | asset_url }}"/></span>
        <span>Dairy Free</span><span><img src="{{ 'green-star.svg' | asset_url }}"/></span>
        <span>Gluten Free</span><span><img src="{{ 'green-star.svg' | asset_url }}"/></span>
        <span>Natural Ingredients</span><span><img src="{{ 'green-star.svg' | asset_url }}"/></span>
        <span>Vegan</span><span><img src="{{ 'green-star.svg' | asset_url }}"/></span>
        <span>Dairy Free</span><span><img src="{{ 'green-star.svg' | asset_url }}"/></span>
        <span>Gluten Free</span><span><img src="{{ 'green-star.svg' | asset_url }}"/></span>
        <span>Natural Ingredients</span><span><img src="{{ 'green-star.svg' | asset_url }}"/></span>
        <span>Vegan</span><span><img src="{{ 'green-star.svg' | asset_url }}"/></span>
        <span>Dairy Free</span><span><img src="{{ 'green-star.svg' | asset_url }}"/></span>
        <span>Gluten Free</span><span><img src="{{ 'green-star.svg' | asset_url }}"/></span>
        <span>Natural Ingredients</span><span><img src="{{ 'green-star.svg' | asset_url }}"/></span>
        <span>Vegan</span><span><img src="{{ 'green-star.svg' | asset_url }}"/></span>
        <span>Dairy Free</span><span><img src="{{ 'green-star.svg' | asset_url }}"/></span>
        <span>Gluten Free</span><span><img src="{{ 'green-star.svg' | asset_url }}"/></span>
        <span>Natural Ingredients</span><span><img src="{{ 'green-star.svg' | asset_url }}"/></span>
        <span>Vegan</span><span><img src="{{ 'green-star.svg' | asset_url }}"/></span>
        <span>Dairy Free</span><span><img src="{{ 'green-star.svg' | asset_url }}"/></span>
        <span>Gluten Free</span><span><img src="{{ 'green-star.svg' | asset_url }}"/></span>
        <span>Natural Ingredients</span><span><img src="{{ 'green-star.svg' | asset_url }}"/></span>
        <span>Vegan</span><span><img src="{{ 'green-star.svg' | asset_url }}"/></span>
        <span>Dairy Free</span><span><img src="{{ 'green-star.svg' | asset_url }}"/></span>
        <span>Gluten Free</span><span><img src="{{ 'green-star.svg' | asset_url }}"/></span>
        <span>Natural Ingredients</span><span><img src="{{ 'green-star.svg' | asset_url }}"/></span>
        <span>Vegan</span><span><img src="{{ 'green-star.svg' | asset_url }}"/></span>
        <span>Dairy Free</span><span><img src="{{ 'green-star.svg' | asset_url }}"/></span>
        <span>Gluten Free</span><span><img src="{{ 'green-star.svg' | asset_url }}"/></span>
        
<!--
      <span>{{ section.settings.text_1 }}</span>
      
      <span>{{ section.settings.text_2 }}</span>
      
      <span>{{ section.settings.text_3 }}</span>
     
      <span>{{ section.settings.text_4 }}</span>
   
      <span>{{ section.settings.text_1 }}</span>
   
      <span>{{ section.settings.text_2 }}</span>

      <span>{{ section.settings.text_3 }}</span>
   
      <span>{{ section.settings.text_4 }}</span>
   
      <span>{{ section.settings.text_1 }}</span>
      
      <span>{{ section.settings.text_2 }}</span>
      
      <span>{{ section.settings.text_3 }}</span>
     
      <span>{{ section.settings.text_4 }}</span>
     
      <span>{{ section.settings.text_1 }}</span>
      
      <span>{{ section.settings.text_2 }}</span>
      
      <span>{{ section.settings.text_3 }}</span>

      <span>{{ section.settings.text_4 }}</span>
      
      <span>{{ section.settings.text_1 }}</span>
  
      <span>{{ section.settings.text_2 }}</span>
      
      <span>{{ section.settings.text_3 }}</span>

      <span>{{ section.settings.text_4 }}</span>
      
      <span>{{ section.settings.text_1 }}</span>
      
      <span>{{ section.settings.text_2 }}</span>
      
      <span>{{ section.settings.text_3 }}</span>

      <span>{{ section.settings.text_4 }}</span>
      
      <span>{{ section.settings.text_1 }}</span>

      <span>{{ section.settings.text_2 }}</span>
     
      <span>{{ section.settings.text_3 }}</span>
     
      <span>{{ section.settings.text_4 }}</span>

      <span>{{ section.settings.text_1 }}</span>
      
      <span>{{ section.settings.text_2 }}</span>
     
      <span>{{ section.settings.text_3 }}</span>
      
      <span>{{ section.settings.text_4 }}</span>
-->
  
    </div>
  </div>

  <!-- schema -->

</div>
