{%- assign formId = 'Contact_' | append: section.id -%} 

{% form 'customer', id: formId, novalidate: 'novalidate', class: 'newsletter-form contact-form form-single-field' %} 

      {%- if form.posted_successfully? -%}
        <p class="newslettersendconfirmed success">Success!</p>
        <script>

            jQuery('.success.popup').show();

        </script>

      {%- endif -%}

      {%- if form.errors contains 'email' -%}

        <script>
            setTimeout(function(){ 
                console.log('test');
                window.scrollTo(0,document.body.scrollHeight);
            }, 500);
        </script> 
      {%- endif -%}


        


      <input type="hidden" name="contact[tags]" value="newsletter" />
      <div
        class="input-group {% if form.errors %} input-group--error{% endif %}"
      >
        <input
          type="email"
          name="contact[email]"
          id="{{ formId }}-email"
          class="input-group__field{% if form.errors %} input--error{% endif %}"
          value="{{ form.email }}"
          placeholder="Email"
          aria-label="Email"
          aria-required="true"
          autocorrect="off"
          autocapitalize="off"
          size="35"
          {%
          if
          form.errors
          %}
          aria-invalid="true"
          aria-describedby="{{ formId }}-email-error"
          data-form-status
          {%
          endif
          %}
        />
        <span class="input-group__btn">
          <button type="submit" class="btn email-button" name="commit">
            Send
          </button>
        </span>
      </div>
      {%- if form.errors contains 'email' -%}
      <span id="{{ formId }}-email-error" class="input-error-message">
        <span class="visually-hidden"
          >Whoops, there was an error, please try again.
        </span>
        <span
          >{{ form.errors.translated_fields["email"] | capitalize }}
          {{ form.errors.messages["email"] }}.</span
        >
      </span>
      {%- endif -%} 
{% endform %}