
<div id="container" class="horizontal-container">
  <div class="module">
  	<section class="module home-featured-product bacon">
		<div class="lettering-container">
            <img class="pink-star" id="pink-star-one" src="{{ 'pink-star.gif' | asset_url }}"/>
            <img class="pink-star" id="pink-star-two" src="{{ 'pink-star.gif' | asset_url }}"/>
			<p class="lettering pink background-text">Smoky</p>
		</div>
		<div class="content-container">
			<img src="{{ 'bacon-nooch-packet.png' | asset_url }}"/>
            <img class="badge-pink" src="{{ 'nooch-badge-pink.gif' | asset_url }}"/>
			<div class="button-container"><a class="clear-button" href="/products/nooch">shop now</a></div>
		</div>
	</section>
  </div>
  <!-- <div class="module" data-scrollcolor="#006450"> -->
  	<div class="module">
  	<section class="module home-featured-product cheese">
		<div class="lettering-container">
            <img class="pink-star" id="pink-star-one" src="{{ 'yellow-star.gif' | asset_url }}"/>
            <img class="pink-star" id="pink-star-two" src="{{ 'yellow-star.gif' | asset_url }}"/>
			<p class="lettering pink background-text">Cheese</p>
		</div>
		<div class="content-container">
            <img class="badge-green" src="{{ 'nooch-badge-green.gif' | asset_url }}"/>
			<img src="{{ 'cheesy-nooch-packet.png' | asset_url }}"/>
			<div class="button-container"><a class="clear-button" href="/products/nooch">shop now</a></div>
		</div>
	</section>
  </div>
</div>

{% schema %}
{
"name": "Home Featured Product",
"settings": [],
"presets": [
	{
		"name": "Home Featured Product",
		"category": "HOME LAYOUT"
	} 
]
}
{% endschema %}