{{ 'custom_error.css' | asset_url | stylesheet_tag }}
{{ 'custom-error.js' | asset_url | script_tag }}

<style type="text/css">
  .template-404 .title + * {
    margin-top: 1rem;
  }

  @media screen and (min-width: 750px) {
    .template-404 .title + * {
      margin-top: 2rem;
    }
  }
</style>

<div class="template-404 page-width page-margin center error-container">
    <div class="error-bg">
        <img src="{{ 'cheesy-nooch.png' | asset_url }}" id="error-1" class="error-packet"/>
        <img src="{{ 'bacon-nooch.png' | asset_url }}" id="error-2" class="error-packet"/>
        <img src="{{ 'cheesy-nooch.png' | asset_url }}" id="error-3" class="error-packet"/>
        <img src="{{ 'bacon-nooch.png' | asset_url }}" id="error-4" class="error-packet"/>
        <img src="{{ 'cheesy-nooch.png' | asset_url }}" id="error-5" class="error-packet"/>
        <img src="{{ 'bacon-nooch.png' | asset_url }}" id="error-6" class="error-packet"/>
        <img src="{{ 'cheesy-nooch.png' | asset_url }}" id="error-7" class="error-packet"/>
        <img src="{{ 'bacon-nooch.png' | asset_url }}" id="error-8" class="error-packet"/>
        <img src="{{ 'cheesy-nooch.png' | asset_url }}" id="error-9" class="error-packet"/>
        <img src="{{ 'bacon-nooch.png' | asset_url }}" id="error-10" class="error-packet"/>
        <img src="{{ 'cheesy-nooch.png' | asset_url }}" id="error-11" class="error-packet"/>
    </div>
    <div class="error-content">
        <h1 class="title">
            {{ 'templates.404.subtext' | t }}
        </h1>
    </div>
  

</div>

<!--
<script>
    
    jQuery(document).ready(function(){
        for(var i = 0 ; i < 10 ; i++) {
            var x = Math.random()*screen.width;
            var y = Math.random()*screen.height;
            var star= document.createElement('div');
            star.className= 'packet';
            star.style.left= x+'px';
            star.style.top= y+'px';
            document.body.appendChild(star);
        }
    });

    

</script>
-->
