{{ 'custom_pages.css' | asset_url | stylesheet_tag }}

<div class="story-header" id="story-header">
    <p>We Love Nooch</p>
</div>
<div class="story-intro">
    <div class="content-container">
        <p class="right">
            No really, we LOVE nooch
<!--            <img src="{{ 'Nooch_CheeseGuy_yellow_outline.gif' | asset_url }}"/>-->
        </p>
        <p>We began wondering why the nooch landscape was so barren, and generic.</p>
    </div>
    
    <img id="tumbleweed" src="{{ 'tumbleweed.png' | asset_url}}"/> 
    
</div>
<div class="story-main">
    <p>So we began experimenting with flavouring nooch in our studio. Our first experiments with garlic powder and off-the-shelf seasonings were not cutting the mustard (we didn’t try mustard). Then we discovered a top yeasty secret. You can flavour nooch with nooch!</p>
</div>
<!--
    

    <p>We take nooch, toast it until the flavour profiles develop and then add it back into normal nooch. Voila, nooch flavoured nooch.</p>
-->


    
    
    <div class="story-bottom">
        
        <p>The rest is history, well its not because its still happening. Just buy it ok? Then we can retire in our nooch mansions driving Nooch-mobiles, please?</p>
        <img class="nooch-packets" id="cheese" src="{{ 'cheesy-nooch.png' | asset_url}}"/>
        <img class="nooch-packets" id="bacon" src="{{ 'bacon-nooch.png' | asset_url}}"/>
        <p><a href="/shop/nooch" class="clear-button">Shop Now</a></p>
        {% render 'marquee' %}
    </div>
    
    
    
    


{{ 'custom-pages.js' | asset_url | script_tag }}








