
{{ 'custom_pages.css' | asset_url | stylesheet_tag }}


<section class="wrapper trade-wrapper">
    
    <h1 class="press-title">{{ page.title }}</h1>

    <div class="page-template-trade" >

        <div class="content" id="press-content">
            
            {% for screenshot in page.metafields.accentuate.screenshot %} 
                <div class="partner-container pr">
                    
                    {% for screenshot in page.metafields.accentuate.screenshot[forloop.index0] %} 
                    <div class="image-container" style="background-image:url('{{ screenshot.src }}')">
<!--                            <img class="screenshot" src="{{ screenshot.src }}"/>-->
                    </div>
                    {% endfor %}
                    
                    <div class="content-container">
                        <h2 class="title">{{ page.metafields.accentuate.title[forloop.index0]}}</h3>
                        <p class="firstline">{{ page.metafields.accentuate.first_line[forloop.index0]}}...</p>
                        <p class="">{{ page.metafields.accentuate.author[forloop.index0]}}</p>
                        <p class="">{{ page.metafields.accentuate.publication[forloop.index0]}}</p>
                        <p class=""><a class="clear-button" href="{{ page.metafields.accentuate.link[forloop.index0 ]}}" target="_blank">Read More</a></p>
                    </div>
                        
                </div>
            
                {% if page.metafields.accentuate.quote[forloop.index0] != blank %}
                    
                    <div class="partner-container pr quote">

                        <div class="content-container">

                            <p class="">{{ page.metafields.accentuate.quote[forloop.index0]}}</p>

                        </div>

                    </div>

                {% endif %} 

            {% endfor %} 
            
        </div>

    </div>
  
</section>

{{ 'custom-pages.js' | asset_url | script_tag }} 










