{{ 'custom_pages.css' | asset_url | stylesheet_tag }}
{{ 'custom_error.css' | asset_url | stylesheet_tag }}
{{ 'custom-error.js' | asset_url | script_tag }}

<div class="story-header panel" id="story-header">
        
    <p><span>We Love Nooch<img src="{{ 'Nooch_Macaroni.gif' | asset_url }}"/><img src="{{ 'nooch-spagetti.gif' | asset_url }}" class="spagetti"/><img class="cheeseguy" src="{{ 'Nooch_CheeseGuy_yellow_outline.gif' | asset_url }}"/></span></p>
    <img src="{{ 'cheesy-nooch.png' | asset_url }}" class="story-header-image" id="story-header-image-1"/>
    <img src="{{ 'bacon-nooch.png' | asset_url }}" class="story-header-image" id="story-header-image-2"/>

</div>

<div class="story-pour-intro panel">
    
    {{ page.metafields.accentuate.story_intro }}

</div>

<div class="story-intro panel tumbleweed">
    
    <img id="tumbleweed" src="{{ 'tumbleweed.png' | asset_url}}"/> 
    
</div>
<div class="story-main story-pour-intro panel">
    
    {{ page.metafields.accentuate.story_main }}
    
</div>

<div class="story-pour-intro panel" id="process">
    
    {{ page.metafields.accentuate.story_feature }}

</div>
 
<div class="story-pour">
    
    <span>
        <img class="plainnooch" id="plainnooch" src="{{ 'plain-nooch-packet.png' | asset_url }}"/>
        <svg class="dust dustone" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.09 15.53"><polygon class="cls-1" style="fill:#fbf5c4" points="14.77 15.53 4.67 15.53 0 10.78 2.88 0.93 11.88 0 19.09 4.58 14.77 15.53"/></svg>
        <svg class="dust dusttwo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.09 15.53"><polygon class="cls-1" style="fill:#fbf5c4" points="14.77 15.53 4.67 15.53 0 10.78 2.88 0.93 11.88 0 19.09 4.58 14.77 15.53"/></svg>
        <svg class="dust dustthree" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.09 15.53"><polygon class="cls-1" style="fill:#fbf5c4" points="14.77 15.53 4.67 15.53 0 10.78 2.88 0.93 11.88 0 19.09 4.58 14.77 15.53"/></svg>
        <svg class="dust dustfour" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.09 15.53"><polygon class="cls-1" style="fill:#fbf5c4" points="14.77 15.53 4.67 15.53 0 10.78 2.88 0.93 11.88 0 19.09 4.58 14.77 15.53"/></svg>
        <svg class="dust dustfive" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.09 15.53"><polygon class="cls-1" style="fill:#fbf5c4" points="14.77 15.53 4.67 15.53 0 10.78 2.88 0.93 11.88 0 19.09 4.58 14.77 15.53"/></svg>
        <svg class="dust dustsix" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.09 15.53"><polygon class="cls-1" style="fill:#fbf5c4" points="14.77 15.53 4.67 15.53 0 10.78 2.88 0.93 11.88 0 19.09 4.58 14.77 15.53"/></svg>
        <svg class="dust dustseven" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.09 15.53"><polygon class="cls-1" style="fill:#fbf5c4" points="14.77 15.53 4.67 15.53 0 10.78 2.88 0.93 11.88 0 19.09 4.58 14.77 15.53"/></svg>
        <svg class="dust dusteight" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.09 15.53"><polygon class="cls-1" style="fill:#fbf5c4" points="14.77 15.53 4.67 15.53 0 10.78 2.88 0.93 11.88 0 19.09 4.58 14.77 15.53"/></svg>
        <svg class="dust dustnine" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.09 15.53"><polygon class="cls-1" style="fill:#fbf5c4" points="14.77 15.53 4.67 15.53 0 10.78 2.88 0.93 11.88 0 19.09 4.58 14.77 15.53"/></svg>
        <svg class="dust dustten" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.09 15.53"><polygon class="cls-1" style="fill:#fbf5c4" points="14.77 15.53 4.67 15.53 0 10.78 2.88 0.93 11.88 0 19.09 4.58 14.77 15.53"/></svg>
<!--
        <div class="dust dusttwo"></div>
        <div class="dust dustthree"></div>
        <div class="dust dustfour"></div>
        <div class="dust dustfive"></div>
        <div class="dust dustsix"></div>
        <div class="dust dustseven"></div>
        <div class="dust dusteight"></div>
        <div class="dust dustnine"></div>
        <div class="dust dustten"></div>
-->
    </span>
    <span class="toasted">
        <span class="toasted-inner">
            <img class="plainnooch" id="plainnooch2" src="{{ 'toasted-nooch-packet.png' | asset_url }}"/>
            <svg class="dust dusttwoone" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.09 15.53"><polygon class="cls-1" style="fill:#fbf5c4" points="14.77 15.53 4.67 15.53 0 10.78 2.88 0.93 11.88 0 19.09 4.58 14.77 15.53"/></svg>
            <svg class="dust dusttwotwo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.09 15.53"><polygon class="cls-1" style="fill:#fbf5c4" points="14.77 15.53 4.67 15.53 0 10.78 2.88 0.93 11.88 0 19.09 4.58 14.77 15.53"/></svg>
            <svg class="dust dusttwothree" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.09 15.53"><polygon class="cls-1" style="fill:#fbf5c4" points="14.77 15.53 4.67 15.53 0 10.78 2.88 0.93 11.88 0 19.09 4.58 14.77 15.53"/></svg>
            <svg class="dust dusttwofour" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.09 15.53"><polygon class="cls-1" style="fill:#fbf5c4" points="14.77 15.53 4.67 15.53 0 10.78 2.88 0.93 11.88 0 19.09 4.58 14.77 15.53"/></svg>
            <svg class="dust dusttwofive" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.09 15.53"><polygon class="cls-1" style="fill:#fbf5c4" points="14.77 15.53 4.67 15.53 0 10.78 2.88 0.93 11.88 0 19.09 4.58 14.77 15.53"/></svg>
            <svg class="dust dusttwosix" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.09 15.53"><polygon class="cls-1" style="fill:#fbf5c4" points="14.77 15.53 4.67 15.53 0 10.78 2.88 0.93 11.88 0 19.09 4.58 14.77 15.53"/></svg>
            <svg class="dust dusttwoseven" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.09 15.53"><polygon class="cls-1" style="fill:#fbf5c4" points="14.77 15.53 4.67 15.53 0 10.78 2.88 0.93 11.88 0 19.09 4.58 14.77 15.53"/></svg>
            <svg class="dust dusttwoeight" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.09 15.53"><polygon class="cls-1" style="fill:#fbf5c4" points="14.77 15.53 4.67 15.53 0 10.78 2.88 0.93 11.88 0 19.09 4.58 14.77 15.53"/></svg>
            <svg class="dust dusttwonine" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.09 15.53"><polygon class="cls-1" style="fill:#fbf5c4" points="14.77 15.53 4.67 15.53 0 10.78 2.88 0.93 11.88 0 19.09 4.58 14.77 15.53"/></svg>
            <svg class="dust dusttwoten" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.09 15.53"><polygon class="cls-1" style="fill:#fbf5c4" points="14.77 15.53 4.67 15.53 0 10.78 2.88 0.93 11.88 0 19.09 4.58 14.77 15.53"/></svg>
        </span>
    </span>
    
    
    <span class="voila">
        <p>Voila</p>
        <img class="plainnooch" id="cheesenooch" src="{{ 'bacon-nooch-packet-B12.png' | asset_url }}"/>
        <img class="plainnooch" id="cheesynooch" src="{{ 'super-nooch-packet.png' | asset_url }}"/>
        <img class="plainnooch" id="cheesynoochtwo" src="{{ 'cheesy-nooch-packet-B12.png' | asset_url }}"/>
    </span>
    

    
</div>
<div class="story-pour-intro panel history">
    
    {{ page.metafields.accentuate.story_end }}

</div>



{{ 'custom-pages.js' | asset_url | script_tag }}








