
{{ 'custom_pages.css' | asset_url | stylesheet_tag }}

<section class="wrapper trade-wrapper trade">

    <div class="page-template-trade" id="press-content">
        <div class="trade-left partner-container pr first-container">
            <h1 class="press-title">{{ page.title }}</h1>
            <p>{{page.content}}<br/><a href="#">Find out more about our partners</a></p>
            <div class="images">
                <img src="{{ 'cheesy-nooch.png' | asset_url }}"/>
                <img src="{{ 'bacon-nooch.png' | asset_url }}"/>
            </div>
        </div>

        {% for name in page.metafields.accentuate.name %} 
            <div class="page-template-trade partner-container trade-partners">
              {% for image in page.metafields.accentuate.logo[forloop.index0] %} 
                <img src="{{ image.src }}"/>
              {% endfor %}
              <h2>{{ name }}</h2>
              <p>{{ page.metafields.accentuate.detail[forloop.index0]}}</p>
              <ul class="trade-buttons">
                {% if page.metafields.accentuate.instagram_link[forloop.index0] != blank %}
                    <li class="insta"><a href="{{ page.metafields.accentuate.instagram_link[forloop.index0]}}" target="_blank">Instagram</a></li>
                {% endif %}
                <li><a href="{{ page.metafields.accentuate.website_link[forloop.index0 ]}}" target="_blank">Website</a></li>
              </ul> 
            </div>

        {% endfor %}      

    </div>
  
</section>




{{ 'custom-pages.js' | asset_url | script_tag }} 










